/* src/components/ContentNav.css */
nav.content-nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 10px;

}

nav.content-nav div.level-1 {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Sfondo semitrasparente */
    padding: 10px 20px;
    color: #434343;
    border-radius: 15px;
    border: 2px solid #cdcf93;
    margin-bottom: 10px; /* Spazio tra i bottoni */
}

nav.content-nav div.level-1:hover {
    background-color: white;
}

nav.content-nav div.level-1.active {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(241, 0, 107, 0.45); /* Bordo rosa/rosso quando attivo */
}