/* src/components/ContentNav.css */
nav.content-nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 10px;
}

nav.content-nav div.level-1 {
    margin: 0;
    background-color: rgba(255, 239, 205, 0.6);
    padding: 10px 20px;
    color: #424530;
    border-radius: 15px;
    border: 2px solid #A58E74;
    margin-bottom: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
}

nav.content-nav div.level-1:hover {
    background-color: #FFEFCD;
    border-color: #E09132;
}

nav.content-nav div.level-1.active {
    background-color: #E09132;
    color: #FFFFFF;
    border: 2px solid #D07F2B;
}

.text-bold {
    font-weight: bold;
}