/* src/components/Header.css */
header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 2px solid #A58E74;
    grid-row-start: 1;
    grid-row-end: 2;
}

.logo {
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #424530;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav.user-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 10px;
    padding-right: 10px;
}

nav.user-nav .nav-item {
    background-color: #FFEFCD;
    padding: 10px 20px;
    font-weight: bold;
    color: #424530;
    border-radius: 15px;
    border: 2px solid #A58E74;
    cursor: pointer;
    transition: all 0.2s ease;
}

nav.user-nav .nav-item:hover {
    background-color: #E09132;
    color: #FFFFFF;
    border-color: #D07F2B;
}