/* src/components/Header.css */
header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; /* O il colore che preferisci */
    border-bottom: 1px solid #ccc;
    grid-row-start: 1;
    grid-row-end: 2;
}

.logo {
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #f1006b; /* Colore SocialPizza */
    display: flex;
    align-items: center;
    gap: 10px;
}

nav.user-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 10px;
    padding-right: 10px;
}

nav.user-nav .nav-item {
    background-color: #fdffb9;
    padding: 10px 20px;
    font-weight: bold;
    color: #434343;
    border-radius: 15px;
    border: 2px solid #cdcf93;
    cursor: pointer;
}

nav.user-nav .nav-item:hover {
    background-color: #f4ff62;
}